header {
	
	text-align:center;
	color:white;
	height:40px;
	background-color:transparent;
	font-size:40px;
}
body {
	
	background:url("bricks.jpg");
	color:white;
}
#table {
	margin-left:180px;
	opacity:0.9;
	transform:translate(20px,60px);
	background-color:grey;
	border-radius:50px;
	width:900px;
	height:180px;
	padding-left:30px;
	padding-right:30px;
	-->color:white;	
	display:inline-block;
	margin-top:100px;
	margin-bottom:100px;
	}
td {
	background-color:black;
	width:300px;
	height:70px;
	color:white;
	text-align:center;
	
	
	
}
td:hover {
	
	background-color:white;
	color:black;
	width:300px;
	height:100px;
	text-align:center;
	
}
th	{
	border-radius:10px;
	background-color:black;
	color:white;
	width:300px;
	height:70px
	
}
a	{
	width:150px;
	height:20px;
	color:white;
	margin-left:400px;
	text-decoration:none;
}
#right  {
	top:200px;
	left:900px;
	position:fixed;
	background-color:white;
<--	border:1px solid white;
	border-radius:6px;
	display:block;
	width:350px;
	height:0px;
	margin-left:270px;
	color:white;
	opacity:0.9;


}
#aslitable	{
			color:white;
			opacity:0.9;
		}
footer {
		background-color:black;
		color:white;
		height:60px;
		margin-top:20px;
		text-align:center;
}
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
	position:absolute;
	left:1000px;
	top:60px;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}
	